* {
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size:1.5rem;
}

/* HEADER */



/* FIN HEADER */

/* CAROUSEL */

#principal .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    z-index: -1;
}

#carouselExampleDark {
    position: relative;
}

/* Fin carousel */